* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: azure;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin-left: 0; 
}

.mosaic-background {
    background-image: url('../img/mosaiconegro2.jpg');
    background-repeat: repeat;
}

#countdown {
    font-weight: bold;
    color: #000000;
    margin-right: 20px;
}

.subway {
    width: 14%;
}

.hero {
    background-image: url("../img/hero2.gif");
    background-size: 100%;
    height: 91.7vh;
    max-width: 100%;
    background-repeat: no-repeat;
    animation: swing-in-top-bck 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation-delay: 0.2s;
}

.links {
    top: 20px;
    left: 20px;
    padding: 10px;
    color: white;
    animation: swing-in-top-bck 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation-delay: 0.5s;
}

.hotel {
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 10px;
}

.seguro {
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 10px;
}

.mapa {
    margin-bottom: 15px;
    border-radius: 5px;    
    border: 3px solid red;
    width: 306px;
    height: 305px;
}

.mapa-hotel {
    border-radius: 5px;    
    border: 3px solid #00933C;
    width: 306px;
    height: 305px;
}

.pax {
    max-width: 300px;
    border-radius: 5px;    
    border: 3px solid #00933C;
}

.hotel-seguro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    animation: swing-in-top-bck 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation-delay: 0.5s;
}

.dias {
    margin-top: 10px;
    margin-left: 40px;
}

.timeline-vertical {
    position: relative;
    padding: 20px;
    border-left: 4px solid #000; /* Línea de tiempo vertical */
    /* max-width: 400px; Ajusta según tus necesidades */
    height: 100%; /* Se expande verticalmente */
    /* Puedes eliminar o ajustar el margen según dónde quieres alinear */
    margin-left: 0; /* Alineado a la izquierda */
}

.day {
    position: relative;
    margin-bottom: 40px;
    margin-left: 15px;
}

.day-circle {
    position: absolute;
    left: 1px;  /* Ajusta para centrar el círculo */
    top: 0;
    width: 24px;
    height: 24px;
    background-color: #1E73BE;
    border-radius: 50%;
    border: 4px solid #fff;
    z-index: 1;
}

.day-info {
    padding-left: 40px; /* Desplaza el texto a la derecha del círculo */
}

.day-info h4 {
    margin: 0;
    font-size: 18px;
}

.day-info p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #666;
}

.day:before {
    content: '';
    position: absolute;
    width: 10px;
    height: calc(100% + 40px); 
    background-color: #EE352E;
    left: 8px;
    top: 12px;
    z-index: 0;  
}

.day:last-child:before {
    display: none;
}

.day-circle.white {
    background-color: whitesmoke;
}

.day-circle.red {
    background-color: #EE352E;
}

.day-circle.blue {
    background-color: #0039A6;
}

.day-circle.green {
    background-color: #00933C;
}

.day-info p {
    display: none;
}

.timeline-vertical {
    overflow-y: auto;
    scroll-behavior: smooth;
    animation: swing-in-top-bck 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation-delay: 0.3s;
}

.titulo-dia,
.parrafo-dias,
.mapa {
    margin-left: 40px;
    transition: all 0.3s;
    animation: swing-in-top-bck 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation-delay: 0.5s;
}

@keyframes swing-in-top-bck {
    0% {
      transform: rotateX(70deg);
      transform-origin: top;
      opacity: 0;
    }
    100% {
      transform: rotateX(0deg);
      transform-origin: top;
      opacity: 1;
    }
  }

.parrafo-dias:hover {
    color: #EE352E;
}

details {
    transition: all 0.2s;
}

html {
    scroll-behavior: smooth;
}

@media screen and (max-width: 600px) {
    .hero {
        height: 32vh;
    }

    .subway {
        width: 8%;
    }

    .hotel-seguro {
        grid-template-columns: 1fr;
        animation: swing-in-top-bck 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
        animation-delay: 0.4s;
    }

    .seccion-seguro {
        animation: swing-in-top-bck 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
        animation-delay: 0.8s;
    }
}